/* -- This is everypage styling -- */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    border: 5px solid;
    border-color: #0B0C10;
    border-radius: 15px;
    width: 75.5%;
    height: 500px;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: 12%;
    margin-right: auto;
}

footer {
    padding: 5px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 10%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: 45%;
    position: absolute;
    font-size: 15px;
}

.next {
    display: block;
    position: relative;
    float: right;
    margin-right: 12%;
    padding: 6px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 10%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    font-size: 15px;
    text-decoration: none;
}

.back {
    display: block;
    position: relative;
    float: left;
    margin-left: 12%;
    padding: 6px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 10%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    font-size: 15px;
    text-decoration: none;
}

/* -- Sitemap styling -- */

.sitemap {
    display: block;
    position: relative;
    float: left;
    margin-left: 12%;
    padding: 6px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 15%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    font-size: 15px;
    text-decoration: none;
}

.sitemaptext {
    text-decoration: none;
    color: #000000;
}

span {
    text-decoration: underline;
}

/* Home Page Styling (index.html)*/

.h3text {
    padding: 10px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 75%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.resourcestext {
    padding: 10px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 45%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.resourcestext2 {
    padding: 20px;
    font-size: 20px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 75%;
    background-color: #66FCF1;
    color: #000000;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.p1 {
    padding: 10px;
    border: 3px solid;
    border-radius: 8px;
    border-color: #0B0C10;
    text-align: center;
    width: 28%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.p2 {
    padding: 10px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    text-align: center;
    width: 20%;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.images {
    display: block;
    margin-left: 12%;
    margin-top: 3%;
}

.imagessnap {
    display: block;
    margin-left: 12%;
    margin-top: 3%;
}

.icons {
    width:215px; 
    height: auto;
    border: 5px solid;
    border-color: #0B0C10;
    border-radius: 50px;
}

/* Styling Drop down*/

* {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #303030;
	color: #000000;
	line-height: 1.5;
    margin-top: 2%;
}

#Heading {
    position: relative;
    color: #000000;
    float: left;
    font-size: 30px;
    left: 6%;
    margin-top: 7px;
    text-decoration: underline;
}
#Heading1 {
    position: relative;
    color: #000000;
    float: left;
    font-size: 30px;
    left: 2%;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}
.main-header {
  margin: auto;
  width: 75%;
  min-height: 90px;
  padding: 1em 2em;
  border: 2px solid #0B0C10;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #66FCF1;
}
  .main-header:after {
    content: " ";
    display: table;
    clear: both;
  }

.main-nav,
.drop-nav {
  background: #45A29E;
}
.main-nav {
  float: right;
  border-radius: 4px;
  margin-top: 8px;
  border: solid 1px #1F2833;
}
  .main-nav > li {
    float: left;
    border-left: solid 1px #1F2833;
  }
  
  .main-nav a {
    color: #66FCF1;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
}
.dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
}
.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
}
.drop-nav li {
  border-bottom: 1px solid;
  color: #0B0C10;
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #696969;
}

a:hover { 
    background-color: #66FCF1;  color:#1F2833; 
}

/* -- Styling for table of content -- */

.table {
    padding: 5px;
    width: 52%;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 31px;
    text-decoration: none;
}

th, td {
    padding: 12px;
    border: 3px solid;
    border-color: #0B0C10;
}

/* -- Styling for Basics pages -- */

#snapchattext {
    padding: 25px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 38%;
    height: 500px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: 12%;
    float: right;
}

.snapimage {
    width:500px; 
    height: auto;
    border: 5px solid;
    border-color: #0B0C10;
    border-radius: 50px;
    display: block;
    position: relative;
    margin-left: 24%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 3%;
}
.instaimage {
    width:500px; 
    height: auto;
    border: 5px solid;
    border-color: #0B0C10;
    border-radius: 150px;
    display: block;
    position: relative;
    margin-left: 24%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 3%;
}

.snapchattext2 {
    padding: 20px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 75%;
    height: 100px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.snapchatsteps {
    padding: 22px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 75%;
    height: 440px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.snapchatfeatures {
    padding: 22px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 75%;
    height: 500px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.snapchatshots {
    padding: 22px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 58%;
    height: 75px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.snapchatshots2 {
    padding: 15px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 58%;
    height: 120px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* -- Styling for all the Teaching and Learning pages -- */

#snapchattext3 {
    padding: 10px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 38%;
    height: 510px;
    background-color: #45A29E;
    color: #66FCF1;
    margin-top: 3%;
    margin-left: 31.5%;
    margin-right: auto;
    float: left;
    font-size: 15px;
}

.snapimage2 {
    width:200px; 
    height: auto;
    border: 5px solid;
    border-color: #0B0C10;
    border-radius: 50%;
    display: block;
    position: relative;
    margin-right: 40%;
    margin-left: auto;
    margin-top: 25%;
}

.sidebar1 {
    padding-top: 210px;
    font-size: 30px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 5px;
    text-align: center;
    width: 15%;
    height: 510px;
    background-color: #45A29E;
    color: #66FCF1;
    float: left;
    position: absolute;
    top: 19%;
    left: 12%;
}

#snapchattext4 {
    padding: 10px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 8px;
    width: 38%;
    height: 540px;
    background-color: #45A29E;
    color: #66FCF1;
    top: 85%;
    left: 31.5%;
    margin-right: auto;
    position: absolute;
    float: left;
    font-size: 15px;
}

.snapimage3 {
    width:200px; 
    height: auto;
    border: 5px solid;
    border-color: #0B0C10;
    border-radius: 50%;
    display: block;
    position: relative;
    margin-left: 12%;
    margin-right: auto;
    margin-top: 26%;
}

.sidebar2 {
    padding-top: 230px;
    font-size: 30px;
    border: 3px solid;
    border-color: #0B0C10;
    border-radius: 5px;
    text-align: center;
    width: 15%;
    height: 540px;
    background-color: #45A29E;
    color: #66FCF1;
    float: left;
    position: absolute;
    top: 85%;
    right: 12%;
}

/*This is the Contact Page CSS*/

body {
    background-color: #303030;
    font-size: 12pt;
}

/* -- The form, fildset snd legend --*/
/* -- All styling for Details -- */

form {
    position: relative;
    top: 50px;
    width: 500px;
    margin: auto;
    background: #303030;
    padding: 15px;
}

fieldset {
    background-color: #66FCF1;
    border: 4px solid;
    border-color: #0B0C10;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.fieldsetbutton {
    background-color: #66FCF1;
    border: 4px solid;
    border-color: #0B0C10;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

legend {
    font-size: 22px;
    color: #66FCF1;
    background-color: #303030;
    padding: 1px 6px;
}

.instructions {
    margin-bottom: 10px;
}

/* -- couldnt get this to position correctly  -- */

.instructions2 {
    float: left;
    margin-bottom: 10px;
}

.divF {
    float: left;
}

/* -- did this so the dropdown wouldnt cover the text below  
-- */

.instructions3 {
    position: relative;
    float: left;
    margin-bottom: 10px;
    margin-top: 25px;
}


.divA, .divB, .divC, .divD, .divE, .divF{
    Margin: 12px;
}

.divA input {
    position: absolute;
    left: 140px;
    width: 220px;
    border: 1px solid;
    border-color: #0B0C10;
    background-color: #45A29E;
    color: white;
    height: 20px;
}

#email {
    width: 260px;
}

/* -- All styling for Feedback part -- */

.left, .right {
    width: 50%;
}

.left {
    float:left;
}

.right {
    float: right;
}

.radios {
    clear: both;
}

textarea {
    border-radius: 2px;
    border: 1px solid;
    border-color: #0B0C10;
    background-color: #45A29E;
    color: white;
    padding: 5px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
}

/* -- Sumbit and Reset styling -- */

button {
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: #0B0C10 1px solid;
    color: white;
    background-color: #45A29E;
    font-weight: bold;
}

button:hover {
    background-color: #66FCF1;
}

.leftbutton, .rightbutton {
    width: 50%;
    float: left;
}

#sumbit {
    float: right;
}

#reset {
    float: left;
}

/* -- Results Page -- */

.results {
    position: relative;
    top: 50px;
    width: 400px;
    margin: auto;
    font-family: sans-serif;
    background: #66FCF1;
    padding: 15px;
    border: 4px solid;
    border-color: #0B0C10;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.results p {
    margin: 20px 0;
}

.userdata [
    color: #66FCF1;
]

.results a:hover {
    color: #66FCF1; 
    background-color: #45A29E;  
    border: 2px solid;
    border-color: #0B0C10;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
